@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #FFECED, #FFC2AF);
}

main {
    background-color: white;
    width: 600px;
    box-shadow: 5px 5px 15px #b98c7f91;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}

h1 {
    color: #EC782C;
    text-align: center;
    text-shadow: 1px 1px 2px #aa561eb4;
    
}

h2 {
    color: #005442;
}

p {
    text-align: justify;
}