@charset "UTF-8";

body {
    background-color: rgba(42, 42, 51, 0.877);

}

h1.titulo {
    font-size: 30px;
    color: lightgray;
    padding-left: 150px;

}

div.busca {
    background-color: rgb(247, 180, 55);
    padding: 50px;
    text-align: center;
}

input#ncm {
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    width: 40%;
    padding-inline-start: 30px;
    
}

input#btn {
    width: 10ex;
    font-size: 22px;
    
}

div {
    background-color: rgb(247, 180, 55);
    color: white;
    font-size: 18pt;
    height: 50px;

}

iframe#TIPI {
    height: 500px;
    width: 100%;
}

h2 {
    font-size: 25px;
    color: lightgray;
}

div.listatec {
    padding: 20pt;
    padding-bottom: 100pt;
    
}

table.lt {
    color: rgba(42, 42, 51, 0.877);
    border-style: solid;
    padding-bottom: 10pt;

}
th {
    border-style: double;

}

td {
    font-size: 15pt;
    text-align: center;
}

